# Ignore environment configuration
.env

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore all files in the "node_modules" directory
node_modules/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
